body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7f6;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: purple;
  color: #fff;
}

.nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

.hero {
  height: 80vh;
  background: linear-gradient(135deg, purple, #e1e5eb);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  margin: 0;
}

.hero p {
  font-size: 1.5rem;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ffffff6d;
  color: purple;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: purple;
  color: #FFF;
}

.skills, .projects {
  padding: 40px;
  text-align: center;

}

.skills-grid, .project-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.skill-card, .project-card {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.project-card > a {
  color: #333a3f;
}

.project-card:hover, .skill-card:hover {
  box-shadow: 2px 4px 6px rgba(0,0,0,1);
}

.contact {
  padding: 20px;
  background-color: #333a3f;
  color: #fff;
  text-align: center;
  height: 50vh;
  align-items: center;
  background: linear-gradient(135deg, purple, #e1e5eb)
}

.email-button {
  padding:  20px;
  font-size: 16px;
  background: #ffffffa1;
  font-weight: bold;
  border: none;
  border-radius: 25px;
}

.email-button:hover {
  cursor: pointer;
  background: purple;
}

.contact a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.contact a:hover {
  color: purple;
}

.icon-container {
  display:flex;
  justify-content: space-evenly;
  margin-top: 30px;
  height: auto;
  align-items: center;
  flex-wrap: wrap;
}

.github, .linkedin {
  display: flex;
  flex-direction: column;
}

.github a svg, .linkedin a  svg{
  height: 20vh;
}


.linkedin a:hover, .github a:hover {
  text-shadow: 30px 30px 1px #0a66c2;
  cursor:pointer;
}
